__pycache__/
*.py[cod]

.DS_Store
.env
.venv/
venv/

logs/
outputs/
wandb/
swanlog/
lightning_logs/

dataset/
ckpt/
checkpoints/
*.ckpt
*.pt
*.pth
*.mp4

paper1/*.aux
paper1/*.bbl
paper1/*.blg
paper1/*.fdb_latexmk
paper1/*.fls
paper1/*.log
paper1/*.out
paper1/*.synctex.gz
